h1 {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: 100px;
    font-style: normal; 
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 5px #8CE5F7;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    border-radius: 8px;
    margin: 10px;
    width: 20%;
    transition: duration 0.04s;
}

.btn:hover {
    background-color: #054350;
    color: whitesmoke;
    transform: scale(1.2);
}

#btnsarea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

#wrapper {
    width: 960px;
    margin:0 auto;
}

.hidden {
    display: none;
}

ul {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    list-style-type: none;
}

.redWords {
    color: red;
}

body {
    background-color: #0D7B92;
}